%header
  .hearder-title
    .header-title__name
      calmia.,
  .top-image
    .top-image__phot
      =image_tag "https://static.amebaowndme.com/madrid-static/gallery/027.jpg?width=2560"
  .main-title
    .main-title__name
      calmia.,

%section
  .contents
    .content-text
      %p 令和元年11月緑区鳴海にヘアサロン
      %p『CALMIA.,』グランドオープン！
    .content-image
      = image_tag "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/664967/20effa67dd04aece9d03fe12b759877d_91f9de68d93f2c6deda4333dc4b198f7.jpg?width=1280", height: '485px', width: '800px'
    .content-message
      %p 静かにゆったり過ごせるこだわりの空間で上質な時間をあなたに
      %p CALMIA.,は街の小さな美容室です
      %p その分個性のある美容室です
      %p お客様のために髪のために出来ることをたくさん詰め込みました
    .content-sns
      .content-sns__insta
    .content-time
      .content-time__title
      %P Open 9:00 ~ 19:00
      %p Close 火曜・他不定
      %p 
    .content-access
      .content-access__title

%footer
  .footer-text
    .footer-text__message


