%header
  .hearder-title
    .header-title__name
      calmia.,
  .top-image
    .top-image__phot
      =image_tag "https://static.amebaowndme.com/madrid-static/gallery/027.jpg?width=2560"
  .main-title
    .main-title__name
      calmia.,

%section
